[2017-10-02 02:05] dominic opened #1 "Add ability to list and create new pages"
The Admin::PagesController needs `#index`, `#new` and `#create` actions

[2017-10-02 02:07] dominic opened #2 "Add 'Menu' model"
Based on the potential [design](https://trello-attachments.s3.amazonaws.com/58a4a2b8a51fe8a750712387/58f987f7c938ed15112e2e3c/8c9accfdef8c1f45947ea32a3600703d/v2_squared_buttons.png), the website should probably have a new model for storing Menu items.

These could simply be a mapping of menu label to slug, with an `order` key to determine their presentation order. (Future fancy iterations will pr

[2017-10-02 02:08] dominic opened #3 "Add ability to list and create new blog posts"
Add an Admin::BlogPostsController and fill in similarly to Admin::PagesController

[2017-10-02 02:09] dominic opened #4 "Home page design"
The latest iteration of the home page design:

![](https://trello-attachments.s3.amazonaws.com/58a4a2b8a51fe8a750712387/58f987f7c938ed15112e2e3c/8c9accfdef8c1f45947ea32a3600703d/v2_squared_buttons.png)

Let's begin laying out components on the home page to support this.

[2017-10-02 02:10] dominic opened #5 "CSS framework?"
Does anyone have a strong opinion about Bootstrap versus other CSS reset solutions? I'm fine with anything, especially if it helps us move quickly.

[2017-10-02 02:15] dominic opened #6 "Admin: add WYSIWYG editor"
In some initial research, https://github.com/basecamp/trix looked really great.

There's a gem to include it in the asset pipeline as well: https://github.com/maclover7/trix

[2017-10-02 02:18] dominic opened #7 "Pull Events from NationBuilder"
Use the Events API (https://apiexplorer.nationbuilder.com/nationbuilder#Events) to list and show events in the website.

[2017-10-02 02:19] dominic opened #8 "Blog posts: build post index"
Add `BlogPostsController#index` to list all posts in the site in reverse chronological order by `posted_at` date

[2017-10-02 02:19] dominic opened #9 "Blog posts: add individual post display"
Implement `BlogPostsController#show` to render an individual post's content at its given slug.

[2017-10-02 02:20] dominic opened #10 "Enforce uniqueness of Page and BlogPost slugs in database"
Having overlapping slugs would be very confusing.

[2017-10-02 02:20] dominic opened #11 "Pages: add individual Page display"
Implement `PagesController#show` to display an individual page's contents

[2017-10-02 04:00] dominic opened #12 "Admin: support image uploads"
Depending on how our WYSIWYG support works, we should allow admins to upload arbitrary images to pages and blog posts, and persist their images to permanent storage (probably an S3 bucket).

[2017-10-02 17:18] nfiniteset commented on #5
I think CSS frameworks are more trouble than they're worth at this point in time. Browsers have less need of a reset these days. They're difficult to remove or upgrade because they tend to polute markup with framework-and-version-specific classes. Flex-box layout makes CSS grid frameworks obsolete. And you end up having to override these fat framework CSS files with even more CSS of your own, lead

[2017-10-02 17:31] nfiniteset opened #13 "Front-end framework?"
Should this website use any front-end framework? To what degree?

Some scenarios I can imagine:
- Use vanilla js (or transpiled ES6/ESFuturewhatever) for minimal front-end interactivity.
- Use jQuery for minimal front-end interactivity.
- Use React/Angular/Vue for minimal interactivity.
- Use React/Angular/Vue for SPA backed by a Rails JSON API.

WFIW Rails 5.1 makes Webpack integration pretty str

[2017-10-02 17:33] nfiniteset commented on #5
I also recommend using an auto-prefixer like [this one](https://github.com/ai/autoprefixer-rails) or similar.

[2017-10-03 01:09] bcipriano commented on #5
How's the flex-box browser compatibility? Looks like it's not great for IE? https://caniuse.com/#feat=flexbox

Looking at that I would be a little concerned about alienating less tech-savvy folks who might be running old Windows sytems (but maybe there's an ok failure mode?)

Bootstrap is super common and might make it easier for future contributors to ramp up - I think that's another point in its

[2017-10-03 01:24] nfiniteset commented on #5
<img width="356" alt="screen shot 2017-10-02 at 6 21 42 pm" src="https://user-images.githubusercontent.com/178653/31106188-93cbc132-a79e-11e7-8455-2dcf0d181b09.png">

Good thought @bcipriano. 60% of our visitors are on desktop. The browser breakdown (blended mobile and desktop) is above.

Flexbox is solid in Edge, and functional with a couple of bugs to work around in IE11.

[2017-10-03 17:35] bcipriano commented on #5
Awesome, thanks!

Good enough for me  👍

[2017-10-07 04:55] #1 closed

[2017-10-07 04:55] #2 closed

[2017-10-07 19:50] #3 closed

[2017-10-08 00:15] bcipriano commented on #9
Seems like this is done already?

I see https://github.com/eastbaydsa/website/blob/127bf324abe275f31cfad189009cc039cc61a785/app/controllers/blog_posts_controller.rb#L8, and going to `/blog/<slug>` seems to work.

[2017-10-08 22:27] #10 closed

[2017-10-09 03:06] bcipriano opened #20 "Set up Heroku staging site"
Set up the "staging" version of the site on Heroku, where we can push new releases to preview before they go fully live.

This will include a document and/or script for doing the push - not sure yet if it will be complex enough to warrant a script.

[2017-10-09 03:07] bcipriano commented on #20
@dominic, guessing not but is there an existing Heroku account already? I can set the staging site up on the free tier for now.

[2017-10-09 03:50] dominic commented on #20
We don't have a EBDSA account yet. If you want to set up a free app on your personal account, we can transfer it later no prob.

[2017-10-09 03:51] dominic commented on #20
We don't have a EBDSA account yet. If you want to set up a free app on your personal account, we can transfer it later no prob.

[2017-10-10 02:37] #7 closed

[2017-10-10 02:37] #6 closed

[2017-10-10 02:37] dominic commented on #6
Closed by #18

[2017-10-15 20:46] dashland opened #22 "Calendar: add event detail page"
Add event detail page

[2017-10-15 21:11] dominic commented on #9
I'm going to do some more work on formatting and layout today and then I'll close it 👍

[2017-10-15 21:18] #8 closed

[2017-10-15 21:25] dashland opened #26 "Calendar: add event time in month view"
Add event time in month view

[2017-10-15 21:31] #26 closed

[2017-10-15 22:10] dashland opened #30 "Calendar: month view doesn't load events for months besides the current month"
Month view doesn't load events for months besides the current month

[2017-10-15 22:12] #9 closed

[2017-10-15 22:15] dominic commented on #5
https://github.com/eastbaydsa/website/pull/24 has a flexbox-ed homepage layout, so i think we can close this for now. Just flexbox + SASS variables is feeling pretty good.

[2017-10-15 22:15] dominic opened #31 "Header: add EBDSA logo"
http://d3n8a8pro7vhmx.cloudfront.net/themes/58d9f8fc6ad5753ce3000000/attachments/original/1504302276/dsa-logo.png?1504302276

[2017-10-15 22:18] dominic opened #32 "Footer: add Facebook and Twitter logos, link to social profiles"

[2017-10-15 22:23] dominic opened #33 "Nav bar: implement active states"
The current nav bar has a hover state, but we should keep it visible when you are on a sub page. Add a state for "active" that is enabled, for instance, on the `blog` link when you navigate down the blog post tree. We can base this on URL path for now.

[2017-10-15 22:26] dominic opened #34 "Home page: add event display"
<img width="678" alt="screen shot 2017-10-15 at 3 24 20 pm" src="https://user-images.githubusercontent.com/185645/31589853-f27c54e4-b1bc-11e7-84b1-b0c0eb869310.png">

List the next 4 chronological events on the home page, giving the first one upcoming the greatest prominence.

There's some events-related querying in https://github.com/eastbaydsa/website/blob/main/app/controllers/events_controller.

[2017-10-15 22:29] dominic opened #35 "Blog post index: build pretty post display"
Print the post title, formatted time and author, and perhaps a brief exercpt of the post with a read more link.

Example from the single post display:
<img width="691" alt="screen shot 2017-10-15 at 3 28 36 pm" src="https://user-images.githubusercontent.com/185645/31589898-877dad40-b1bd-11e7-911b-ae9db38a6a5a.png">

[2017-10-15 22:34] dominic opened #36 "Add sign up form"
Add a form that posts to a Rails action that:

1. collects an email address
2. sends a NationBuilder person push request to get a Person ID for that email address: http://nationbuilder.com/people_api#push_endpoint
3. sends a NationBuilder set tag request, adds the `eb_supporter` tag to that person ID. http://nationbuilder.com/people_api#taggings

I beleive this will be represented in Ruby as:

[co

[2017-10-15 22:37] dominic opened #37 "Home page: add image upload field for featured image"
Blocked on https://github.com/eastbaydsa/website/issues/12

[2017-10-15 22:37] dominic opened #38 "Blog post: add image upload field for featured image"
Blocked on https://github.com/eastbaydsa/website/issues/12

[2017-10-15 22:38] dominic opened #39 "Home page: add shadow behind intro text"
<img width="670" alt="screen shot 2017-10-15 at 3 37 54 pm" src="https://user-images.githubusercontent.com/185645/31590035-db9be0da-b1be-11e7-91ad-1d5e760f0e69.png">

The diagonal shade behind the white text should be added via pure CSS, or a transparent image of our own design.

Also: style intro text block while here. Text should be white, and headings should be extra large.

[2017-10-18 02:35] bcipriano commented on #20
Staging site is up, https://eastbaydsa-website-staging.herokuapp.com/

Instructions for deploying to Heroku are in the main [README](https://github.com/eastbaydsa/website/blob/main/README.md).

[2017-10-18 02:35] #20 closed

[2017-10-18 02:40] bcipriano opened #41 "Lock down S3 permissions with presigned URLs"
This is a followup from #12.

S3 permissions on our test bucket are quite open - world writable and CORS is configured to allow from anywhere. We'll need to lock this down.

- Add backend method we can call from the admin page, which will read Heroku config to determine the appropriate S3 bucket, then return a presigned URL that can be used for upload.
- Remove world bucket permissions, presigned

[2017-10-18 02:42] bcipriano commented on #12
https://github.com/eastbaydsa/website/pull/42 to implement this, with some caveats for now.

[2017-10-28 15:17] bcipriano opened #45 "Blog post index: pagination"
It's fine for now, but once we get 10+ posts we'll probably need some basic pagination there.

Maybe a sidebar with "Month Year" links to help navigate, or hopefully something a bit more user-friendly than that - if anyone has any ideas or example they like please post here!

[2017-10-29 12:04] #35 closed

[2017-10-31 20:06] #12 closed

[2017-10-31 20:08] bcipriano commented on #41
Ok, this is now pushed to staging and S3 setup is complete for the staging bucket.

@dominic going to reassign this to you to give it a try - drag n drop on any field set up with a Trix editor. If it works feel free to close this out, if not let me know!

[2017-10-31 20:11] bcipriano commented on #41
Oh yeah also - I set Heroku config on the staging site for `ADMIN_EMAIL` and `ADMIN_PASSWORD`, you can use those to log into the admin site for testing until we figure out auth a bit more.

[2017-11-01 12:07] bcipriano opened #49 "image resizing?"
Currently we don't do any post-processing of uploaded images. They'll be shown at whatever size they're uploaded at.

I think it shouldn't be too difficult to add resizing using something like imageMagick if needed.

Probably the answer is different for blog post images vs the main banner image, etc.

[2017-11-01 12:54] #37 closed

[2017-11-01 14:32] bcipriano commented on #4
Could you post the individual image elements from the design here? Would be great to have them and start to drop them into the actual page while we're working.

[2017-11-11 20:44] #38 closed

[2017-11-11 20:45] dominic commented on #4
Here's some sample photos extracted from the Sketch file:

![baybridge](https://user-images.githubusercontent.com/185645/32693322-f0ff5e46-c6dd-11e7-8719-6a2340bdb826.png)
![chairs](https://user-images.githubusercontent.com/185645/32693324-f155d3fc-c6dd-11e7-8d96-772c3aebb116.png)

[2017-11-11 20:45] dominic commented on #4
![splash](https://user-images.githubusercontent.com/185645/32693325-f1b378c2-c6dd-11e7-8a74-7574fb313698.png)

[2017-11-11 20:58] dominic commented on #32
![facebook](https://user-images.githubusercontent.com/185645/32693454-f21f6c2e-c6df-11e7-999e-8949d6ee5442.png)
![twitter](https://user-images.githubusercontent.com/185645/32693455-f2654b18-c6df-11e7-9068-56e45930a3df.png)

[2017-11-11 22:22] bcipriano opened #54 "Update header and footer with new design"
New design is here: https://s3.amazonaws.com/aws-website-eastbaydsa-uq9fn/index.html

[2017-11-11 22:22] dominic commented on #41
Looks great!

[2017-11-11 22:22] #41 closed

[2017-11-11 23:18] #32 closed

[2017-11-11 23:18] #31 closed

[2017-11-11 23:22] dominic opened #57 "Style page title"
From https://s3.amazonaws.com/aws-website-eastbaydsa-uq9fn/about/index.html

<img width="982" alt="screen shot 2017-11-11 at 3 22 03 pm" src="https://user-images.githubusercontent.com/185645/32694417-1807e20e-c6f4-11e7-9be2-e31696f8951b.png">

[2017-11-11 23:23] dominic commented on #33
From https://s3.amazonaws.com/aws-website-eastbaydsa-uq9fn/about/index.html

<img width="925" alt="screen shot 2017-11-11 at 3 22 20 pm" src="https://user-images.githubusercontent.com/185645/32694423-2afe9ee8-c6f4-11e7-8702-c5a84d7f2777.png">

There's three states in the new design:

- nothing: light grey
- hover: mid grey
- active: white

[2017-11-11 23:24] dominic commented on #34
Closing in favor of new design for the moment

[2017-11-11 23:24] #34 closed

[2017-11-11 23:24] dominic commented on #39
Closing in favor of new design

[2017-11-11 23:24] #39 closed

[2017-11-11 23:25] #11 closed

[2017-11-11 23:42] bcipriano opened #59 "Drive footer content with ActiveAdmin"
Footer contents are static right now:

<img width="1216" alt="screen shot 2017-11-11 at 3 40 53 pm" src="https://user-images.githubusercontent.com/2013647/32694515-b9201920-c6f6-11e7-91f9-532f37f681b0.png">

- Add class for footer sections ("Get Involved", "Donate", etc.)
- Add class for menu items in each section ("Home", "Store", etc.)
- Add config for the footer text items - "About Us" and Copy

[2017-11-11 23:42] bcipriano commented on #54
New structure and styling is merged now.

We'll need a new activeadmin section for managing the content displayed in the footer - filing followup issue https://github.com/eastbaydsa/website/issues/59

[2017-11-11 23:42] #54 closed

[2017-11-11 23:54] bcipriano commented on #4
FYI new design is located here: https://s3.amazonaws.com/aws-website-eastbaydsa-uq9fn/index.html

[2017-11-12 05:07] dominic commented on #49
I expect folks will be uploading direct from phone cameras a bunch, which will be 4-5MB images minimum. Definitely worth resizing. Scaling everything down to 1000px max width is a safe start, I bet.

[2017-11-12 05:08] dominic commented on #36
Got a good start on this with @izaleu - I'll let them close out this issue with a PR.

[2018-01-05 23:17] #36 closed

[2018-03-03 23:01] #22 closed

[2018-03-03 23:01] #30 closed

[2018-03-10 03:13] sarmaswe opened #65 "Integrate donation page"
A goal of the updated eastbaydsa.org is for it to be a full skin on top of NationBuilder. The donation page currently sits on NationBuilder, and it would be great to integrate the donation page with the rest of the new site.

Please explore options/requirements for a new donation page. Some ideas mentioned were embedding PayPal or using a donor widget.

Proposed deadline: Monday, March 26
Proposed

[2018-03-10 03:23] sarmaswe opened #66 "Prep homepage design for April launch"
Design goal for the homepage for April launch is an updated version of existing homepage. The new site will use the content/copy on existing site.

Dominic to prep this and share with team.

Proposed schedule
March 14: Dominic shares homepage design with team
March 21: Homepage design finalized
April 1: Site updated with homepage design
April 15: Launch date

[2018-03-14 05:54] dominic commented on #65
cc @jeffomatic

[2018-03-14 05:55] #5 closed

[2018-03-14 05:55] dominic commented on #13
Closing for now, but really open to folks picking this up as we build a more stable team.

[2018-03-14 05:55] #13 closed

[2018-03-14 05:55] #57 closed

[2018-03-14 05:57] dominic commented on #59
Something like a "Site Settings" page might be good for this? https://github.com/artofhuman/activeadmin_settings_cached or a similar gem.

[2018-03-14 05:58] dominic commented on #66
:+1:

I'll post a design based on our various mockups here tomorrow.

[2018-03-14 06:44] dominic opened #67 "[Admin] Content editor visual style"
The "Content" text box is a little hard to discern from the background, and wider than the rest of the inputs.

<img width="952" alt="screen shot 2018-03-13 at 11 28 48 pm" src="https://user-images.githubusercontent.com/185645/37386579-54e6cd84-2716-11e8-82aa-870e12c55c8b.png">

[2018-03-14 07:56] jeffomatic commented on #65
The donation widget itself is generated by a blackbox that NationBuilder provides, and hooks into a donation CRM, so we can't circumvent it and go directly to PayPal without investigating whether it's feasible to skip the CRM part.  I think there are limited styling options, but you might want to talk to Wes Holing and see what he knows.

I've never actually dug into how much we're getting out of

[2018-03-15 07:17] dominic opened #68 "Homepage: simple, temporary design"
Here's my suggestion for a simple homepage that mimics our current content:

![homepage-simple](https://user-images.githubusercontent.com/185645/37449057-209b17da-27e6-11e8-9462-975dcf1318e6.png)

The contents are:

- A free-text section that can be edited containing rough chapter info
- The next upcoming event from NationBuilder

cc @wesholing

[2018-03-15 07:24] dominic commented on #65
I was looking at something like https://donorbox.org as a potential replacement. It's got the cost of adding even more dependencies to our stack, but also seems like a pretty simple service.

[2018-03-15 07:27] dominic opened #69 "[Admin] Support page redirects"
For migrating content from the old to the new site, we need to be able to redirect from old URLs to new pages. Here's one thought I had on that:

- Add a `redirect_from` text field to pages and blog posts
- Add a wildcard route to the Rails app that points to a controller handling redirects (`RedirectController`?)
  - In this controller, for any route requested, first check for a record with a mat

[2018-03-19 18:38] wesholing commented on #68
Looks good to me. :)

[2018-03-21 18:10] sarmaswe commented on #68
Dom, I like this design. Thanks for prepping and sharing.

Should the top navigation match the existing site?

<img width="1262" alt="screen shot 2018-03-21 at 11 01 48 am" src="https://user-images.githubusercontent.com/13740788/37728799-698dc35e-2cf8-11e8-8dab-889ac0fbd75d.png">

Seems like the EBDSA icon on the left would serve as "Home."

Is "Blog" a replacement for "News"?

And then we're just

[2018-03-21 18:14] sarmaswe opened #70 "Manual content migration"
Wes is migrating all content except Events to the new site. The plan is for content organization, copy, and navigation to match existing site. Proposed completion date for content migration is Wednesday, March 26.

[2018-03-21 18:22] sarmaswe commented on #65
@jeffomatic @dominic @kyleschmolze -- what are you guys thinking is the best way to move forward with the replacement donation page?

Maybe Dom's https://donorbox.org suggestion? Any feedback on that?

Would it work to decide on way forward by Saturday, 3/24, and have the new donation page working by Monday, 4/2?

[2018-03-21 18:31] sarmaswe commented on #68
@kyleschmolze @maxlapides -- through conversations with @wesholing , we decided to scale back the goals for the new homepage design for the April launch. It's now essentially a basic redesign of the existing homepage.

If you have a moment, please review Dom's suggestion and share any feedback, by Saturday, March 24, if possible :)

After this initial April launch, we'd like to build a more thorou

[2018-03-21 21:01] jeffomatic commented on #65
I would prefer that we carry forward with our existing donation setup until
there is time (likely not for the next 3-4 weeks) to figure out how to
integrate this into the bank account, etc. Sorry for the inconvenience.

One thing I will convey is that it’s very likely we may need to create a
_separate_ donation stream as part of our effort to comply with electoral
regulations. In which case, I’m t

[2018-03-22 17:06] sarmaswe commented on #68
@kyleschmolze -- here's some context on the navigation. Right now I'm thinking about this as a modification to the design, though should this be another issue instead?

@wesholing @dominic -- please revise/add as needed

The goal for this April launch is only a minor improvement on the design of the existing site. This being the case, the navigation for the new site might exactly match the existin

[2018-03-22 21:17] dominic commented on #68
re: navigation, it's totally configurable in the UI. So, it's just content. Y'all can put whatever links you want there. I think the logo should be a replacement for the previous "Home" link yep.

[2018-03-22 21:28] dominic commented on #68
The bottom navigation is already built (though we should probably move some of the links around, and remove "Store" since that's not gonna happen yet). Since it's designed and implemented, I don't really see a reason to cut it up unless folks feel strongly.

[2018-03-22 21:29] dominic commented on #65
Cool. I agree with Jeff. For donations, we can send folks to `eastbaydsa.nationbuilder.com` easily enough as needed.

[2018-03-22 21:39] dominic commented on #70
URLs for migration: https://docs.google.com/spreadsheets/d/195Sfselqu6G8tGOJ-MYSDane29thQjtqjOB18gCfBmw/edit?usp=sharing

[2018-03-22 21:40] dominic commented on #69
@wesholing has asked that some pages do multiple redirects. Perhaps we can do a comma separate list in the text field, or provide it as a `has_many` relationship.

[2018-03-22 21:40] dominic commented on #69
URLs for redirect https://docs.google.com/spreadsheets/d/195Sfselqu6G8tGOJ-MYSDane29thQjtqjOB18gCfBmw/edit?usp=sharing

[2018-03-23 02:07] sarmaswe commented on #68
@dominic when you say "cut it up," what do you mean? And thanks for providing all this info.

@kyleschmolze do you have what you need to get started?

[2018-03-23 02:10] sarmaswe commented on #65
Sounds good!

[2018-03-23 03:11] dominic commented on #68
@sarmaswe I just mean I don't see a reason to change the design or content since it's already built to the new design spec from @wesholing and Mark. The main reason we cut scope on the homepage is that we hadn't built it yet.

[2018-03-23 03:32] sarmaswe commented on #68
@dominic I think I'm more trying to clarify what should be in each navigation because there are differences between your design and @wesholing 's latest design, and differences between the existing site and the new site, and differences between the top and bottom navigation.  If you and Wes are good with a certain navigation, then I'm good with that too. Here's what I'm seeing:

**Simple homepage

[2018-03-23 04:32] dominic commented on #68
Well, let's split em up:

- The top navigation in the design above is totally configurable. I think the questions you're asking are more content questions than design - we can add all the links we want. Personally, I don't think we need a text "Home" link in addition to the logo, but @wesholing might have a different opinion and he knows the content best.
- The bottom navigation you described as @

[2018-03-23 04:39] sarmaswe commented on #68
That sounds good, and agree on not needing the redundant Home. And you mean that you need development work to implement the homepage design, right? Would that be a good place for Kyle to start?

[2018-03-23 04:40] dominic commented on #68
Yep! I think everything between the top and bottom navs here is the homepage design.

[2018-03-23 04:46] sarmaswe commented on #68
lol okay. @kyleschmolze might you instead be available to implement the homepage design? It sounds like @wesholing will work out the navigation, so no need to focus on that at the moment

[2018-03-24 21:05] kyleschmolze opened #71 "direct_link column on pages superfluous? how will nesting work?"
Hey @dominic is there any purpose for the `direct_link` column on the `page` model? It seems that routing is entirely handled by the `slug` column.

Relatedly, what's the plan for nested page routing? Obviously pages can have parents/children, which is great for displaying nav breadcrumbs / sub-pages, but is routing going to be related to parents/children as well?

As in, if there's a page that li

[2018-03-25 00:37] kyleschmolze opened #73 "Should the footer links also be managed with Menu Items?"
Unless we want the footer to be completely static, it should probably also be managed by `MenuItem` objects as well, right? My suggestion is just that we merge the "Donate" and "Get Involved" columns into 1 column for footer links, and then we make it so that `MenuItems` can be tagged as belonging to the header or the footer, which means we can easily read out all the links for the header and also

[2018-03-25 00:41] kyleschmolze opened #74 "Background images on Pages"
If we want pages to be able to have nice big fancy background images (which everyone does now, and yes, it looks great), all we'd need to do is:

- [ ] Copy the image upload code over from `Homes` to `Pages` so that we can attach images to Pages
- [ ] Come up with a default design for when there is no attached image
- [ ] Come up with a design for when there is an attached image (Should the text a

[2018-03-25 00:50] kyleschmolze opened #75 "Why are Homes different from Pages?"
Since the "homepage" layout is almost the exact same as the Page layout, but it simply renders the next upcoming event at the bottom, is there any particular reason that `Homes` are different object types than `Pages`? It just seems a bit superfluous/confusing to have them be different.

Especially since we'll be adding more layout options like background images, sub-pages, etc, it feels silly to

[2018-03-25 00:54] kyleschmolze commented on #69
Hm. Bummer that we have to support multiple redirects, I'd say the only responsible way to do that is to add a new model for Redirects, and just have a `redirect_from_path` and a `redirect_to_path`. Comma separation makes querying and debugging feel messy to me.

I'm happy to tackle this, but I'd love to get an answer to #71 before I start

[2018-03-25 00:57] kyleschmolze commented on #71
(edited for clarity!)

[2018-03-25 00:59] kyleschmolze commented on #67
Also, is there any way to make this thing support more than 2 text sizes? It only seems to have big and small, which is a bit limiting!

Can we insert HTML directly somehow to allow for more dynamic content?

What about pictures?

[2018-03-25 01:01] kyleschmolze commented on #73
This could be a way to solve #59

[2018-03-25 16:18] dominic commented on #67
Right now, we're using https://github.com/basecamp/trix, which is intentionally simple. We can maybe add a second or third level of hierarchy, but I also think most of our content is gonna be fine with only heading, bold and plain text. @wesholing has asked for this too. We can extend the editor, or switch to another though.

I feel pretty strongly that no one should be inserting HTML directly int

[2018-03-25 16:41] dominic commented on #71
`direct_link` looks like a generated attribute used for linking to a page from the admin interface. I don't see it stored in the database, so there's no data confusion.

As for pathing, I think slugs will contain the full route for now, so `/about/mission` instead of `/mission` nested under the `/about` page. The parent/child relationship can be breadcrumb only after that. I think it might be hard

[2018-03-25 16:45] dominic commented on #69
Answered #71. I think I agree re: a separate model to handle multiple redirects. At a glance, I don't actually see any duplicates in there... @wesholing, is that still a requirement?

[2018-03-25 17:03] dominic commented on #73
@kyleschmolze :+1: I like that a lot. Knocking out the donate column and just tracking two lists seems great.

[2018-03-25 17:05] dominic commented on #75
@kyleschmolze This was from a world where the home page had a _much_ more distinct design, and would probably be a pretty long collection of custom fields. Essentially, `Homes` was gonna be a singleton model.

The only customization on the homepage now is pulling the most recent event from NationBuilder. We can have it render a custom template for the controller action `home`, or if `homepage == t

[2018-03-25 17:07] dominic commented on #74
:+1:

Supporting it for pages should be as simple as adding a `featured_image_url` column. Uploads should be handled universally already.

[2018-03-25 17:24] kyleschmolze commented on #75
Great, thanks for the context. If you think there's a good chance we'll get to that world in the near future, I'm happy to leave it for now - but if you're not sure then I may simplify :)

[2018-03-25 17:26] dominic commented on #75
Okay! Since it's working now, let's leave it. We can probably tune the admin interface to make it less weird.

[2018-03-25 17:32] kyleschmolze commented on #65
`https://eastbaydsa.nationbuilder.com/donate` currently redirects to `https://www.eastbaydsa.org/donate`, but I assume that will change?

[2018-03-25 17:33] kyleschmolze commented on #71
Oh funky, sorry didn't notice that it was a virtual attribute!

I think you're 100% on point about the paths. Just need to make sure people know that the slug is the *full* path. I may add some placeholder/description text.

[2018-03-25 17:33] #71 closed

[2018-03-25 17:35] dominic commented on #65
It will once we remove the custom domain, yeah.

[2018-03-25 18:13] kyleschmolze commented on #65
PR #76 handles this - we can now just add a Donate link to the footer with whatever URL we want, when we're ready.

[2018-03-25 20:50] kyleschmolze commented on #69
All done - I made it a separate model just cause it's easy to imagine duplicates being needed later and it's ultimately a very simple model to manage. I even added click-tracking just so we know which redirects are still being used.

[2018-03-25 21:53] wesholing commented on #69
Hey folks,

Thanks for looking into this. Just to be clear, the migration doc just
includes the new URLs for existing pages (e.g. /about-dsa -> /about/dsa).
There are also 143 redirects
<https://eastbaydsa.nationbuilder.com/admin/sites/1/legacy/redirects>
currently in place in NationBuilder that cover legacy links to the old
Squarespace site, changes to URLs for pages on the current NationBuilder

[2018-03-26 00:17] kyleschmolze commented on #69
Yes, it'll be a manual process to migrate them over, if you could include that in your process that'd be great. The code is written but you'll need to wait for a merge and a release to start the content migration. Also if you have a spreadsheet of the 140+ I would be happy to write a script to import them.

[2018-03-26 00:19] kyleschmolze commented on #67
Yeah I guess the only alternative I'd say we should at least consider is
markdown.
On Sun, Mar 25, 2018 at 9:18 AM Dominic Dagradi <notifications@github.com>
wrote:

--
- Kyle

[2018-03-26 01:15] wesholing commented on #69
Terrific, thanks. NationBuilder lists them out as a table, so it should be
easy for me to copy them into a spreadsheet for you. I'll take care of that
once I finish the content migration here in the next couple days or so.

Wes

On Sun, Mar 25, 2018 at 5:17 PM, Kyle Schmolze <notifications@github.com>
wrote:

[2018-03-26 01:19] wesholing commented on #67
I'd still like a content editor with more abilities than the current one
allows, yeah. I'm documenting any issues I'm running into along the way
while I migrate content, though, so we can all determine whether what's
missing is necessary or not, and whether the scale of it makes a
difference. (If it's one page that needs an H3, whatever; if it's 20 pages
that turn out weird, it may be worth evalua

[2018-03-26 02:14] dominic commented on #67
@kyleschmolze I'd be very into switching to markdown at some point, actually. I do think that's a really good fit. Trix is handling some fairly seamless image uploading right now, but we've got all the infrastructure in place now to move that to a new editor.

[2018-03-26 02:33] bcipriano commented on #67
FWIW - I played around with a few different editors for the M4A site (which also uses ActiveAdmin) and settled on [Quill](https://quilljs.com/), it's been pretty great so far. I have it wired up to do S3 image uploads, same as on the East Bay site. Would be happy to share those bits if you'd like.

[2018-03-26 04:15] dominic commented on #67
@bcipriano That's rad. Is the M4A site open source? We could just go take a peek.

[2018-03-26 19:31] #68 closed

[2018-03-26 19:38] #69 closed

[2018-03-26 19:41] kyleschmolze commented on #66
cleanup

[2018-03-26 19:41] #66 closed

[2018-03-26 23:50] #59 closed

[2018-03-26 23:50] #73 closed

[2018-03-30 18:07] dominic opened #78 "/blog -> /news"
Replace `/blog` in URLs with `/news` throughout the site.

[2018-03-30 18:11] dominic opened #79 "Include date in news post routes"
When creating a blog post, use `/news/2018/03/15/slug` for the path

[2018-03-30 18:13] dominic opened #80 "Support links without hostname in content editor"
@wesholing was unable to add links to items without including `http://eastbaydsa-website-staging.herokuapp.com` at the front of the URL

[2018-03-30 18:31] wesholing commented on #79
I set the post date for each blog post to its original post date in NationBuilder, so hopefully the yyyy/mm/dd part of the URL can pull from this data.

[2018-03-30 20:17] wesholing opened #81 "Add margin space after list items"
The items in ordered lists and unordered lists are tight together compared with the spacing between paragraphs and other page elements. Please add a margin-bottom property to li elements. Maybe 0.3em?

Also, the line-height for li elements is equal to 1, but other page elements are greater. Perhaps this could be something like 1.3?

[2018-03-30 20:24] wesholing opened #82 "Make list item lines after first flush with first line"
In unordered and ordered list items, all lines after the first one are left-aligned with the bullet, not the text.
![eastbaydsa-list-indentation](https://user-images.githubusercontent.com/1048591/38152645-955fb95c-341d-11e8-8f91-ce8c76229e1a.png)
Please adjust the CSS to make all text left-aligned. Setting the padding-left and text-indent properties with one the opposite to the other (e.g. 1em and

[2018-03-30 20:25] wesholing commented on #81
Actually, it looks like the CSS declaration that sets the line-height also sets it for heading elements (h1, h2, etc.), and those could use the same increase. Let's try just changing the value for that instead of adding one just for list items.

[2018-03-30 20:27] wesholing opened #83 "Display admin email account as "East Bay DSA""
Blog posts list admin@eastbaydsa.org as the author. Can we set display names for accounts so that this can be set as "East Bay DSA" instead of the email address on posts?

[2018-03-30 20:30] wesholing opened #84 "Make blog post title appear in page title"
Blog post titles don't appear in the page title (as in the <title> element). It only reads "East Bay DSA." Please add the post title to the page title like on other pages.

(See also https://github.com/eastbaydsa/website/issues/87)

[2018-03-30 20:32] wesholing opened #85 "Allow blog posts to not be included in blogroll"
By default, any published blog post appears in the blogroll. Occasionally, I get requests from Steering Committee members to post news so that it's accessible but not include it on the page. Can we have a field on the blog post form that allows us to not include it on the blogroll? (Enabled by default is fine.)

[2018-03-30 20:36] wesholing opened #86 "Allow child pages to be unlisted on parent pages"
Currently, any child page gets listed on the parent page at the bottom. Can we include a field in the page creation form that allows us to not list the child page on the parent page? I could just choose no parent, but this is useful information for breadcrumbs and schema, so I'd like to keep that used as intended.

An example of where this could be useful is on the statement pages. On the NationBu

[2018-03-30 20:38] wesholing opened #87 "Revise page title format"
Currently, the site title appears before the page title (e.g. "East Bay DSA | About"). Can we swap these so that the page title comes first?

Also, I vote for using a hyphen instead of a pipe, but it's not too important.

(See also https://github.com/eastbaydsa/website/issues/84)

[2018-03-30 20:43] wesholing opened #88 "Differentiate page title from H1"
Currently, there's one title field that populates both the `<title>` element and the `<h1>` element on the page.

Sometimes it's good SEO practice to include additional keywords in the page title that would just look messy in the h1. Can we have a separate, optional field on the page creation form for the page title? Ideally, if the value of the new field is blank, the required field will fill bot

[2018-03-30 20:45] wesholing opened #89 "Can meeting minutes be a separate blog?"
On the current NationBuilder site, I enter meeting minutes as blog posts so that they automatically get entered into a blogroll.
https://www.eastbaydsa.org/resources-minutes

Can we have more than one blog on the new site? If this is a problem or a lot of work, I can just leave them as pages.

[2018-03-30 20:47] wesholing opened #90 "Allow file attachments"
Several pages on the current site rely on attached PDFs (mostly socialist school). Can we either attach files to pages or have a central repository for uploaded files from which to link?

Example:
https://www.eastbaydsa.org/resources-readings-socialist-school-2018-winter-session-1
("What Is the Real Marxist Tradition?", study guide)

[2018-03-30 20:49] wesholing commented on #70
I've migrated all static pages over and highlighted any content issues I've run into along the way. I'm in the process of creating issues here based on those. There will be a little cleanup work to do after, but I think we can safely close this issue.

[2018-03-30 20:55] dominic commented on #83
I see two different paths here:

- hide names and bylines like the current site
- make names real, like "Wes" or "Dominic" so that we can have some blog post authorship

Just putting "East Bay DSA" by every post seems a little redundant for this site. Does either of the above sound any better?

[2018-03-30 20:59] wesholing commented on #83
I vote for real names because I think that would be useful. If a member reports from an event (like when Meagan Day went to the SFO protests), it'd be cool to put their name on it.

For official statements, maybe just East Bay DSA Steering Committee?

[2018-03-30 21:00] wesholing commented on #67
I'll add my requirements here for the content editor based on what I discovered during the content migration.

My ideal scenario is an editor that allows us to edit HTML, but I totally understand the security concerns there. Every editor I've used that allows HTML also strips out anything potentially harmful (e.g. `<object>`, `<script>`, etc.). If there isn't a good editor that does this, markdown

[2018-03-30 21:08] wesholing commented on #83
Or, yet another idea, we make the author a text field rather than a dropdown and we just enter the author so it doesn't require an account to fill in that part of the page. (Or maybe this was your original idea.)

[2018-03-30 21:24] sarmaswe opened #91 "Blog/News page, design improvements"
Please take a look at the new Blog/News page and consider design improvements. Dom suggested the following changes:
-- Reduce page width
-- Add title
-- Rethink how page is laid out, adjust amount of empty space
-- Add pagination
-- Remove timestamps
-- Remove byline

[2018-03-30 21:27] sarmaswe opened #92 "Events page, test with more complete content"
Please test events with more complete content; add venue, address, location details

Screenshot of current test content below:
<img width="1250" alt="screen shot 2018-03-30 at 2 21 59 pm" src="https://user-images.githubusercontent.com/13740788/38154358-6e03c3cc-3426-11e8-9e06-041cbf96a714.png">

[2018-03-30 21:33] sarmaswe opened #93 "Add breadcrumbs to subpages"
Please add breadcrumbs to pages under About and News/Blog. Breadcrumbs already exist on Events pages.

If possible, please also include breadcrumbs on any subpages within Resources, Campaigns, Donate, and Join, as needed.

<img width="1227" alt="screen shot 2018-03-30 at 2 27 22 pm" src="https://user-images.githubusercontent.com/13740788/38154523-3ae5009a-3427-11e8-86d3-94b68fc5ab99.png">

[2018-03-30 21:59] wesholing commented on #91
Also, can we make the title the link to the post? Currently, the "read more" link is the only link to read it.

[2018-03-30 22:00] wesholing commented on #67
Oh! And I'd love for paragraphs to be `<p>` elements, not `<div>`s, which is how they're treated currently. (I assume a different editor would do this.)

[2018-03-30 22:18] wesholing opened #94 "Add schema to page head"
I included schema.org-compatible structured data for each page on the NationBuilder site. The current theme includes a file I created called `_schema.html`.

The file contains four sections which are inserted into the page `<head>`: organization, breadcrumbs, event, and calendar. The organization and breadcrumbs data go on every page, the event data goes on the event pages, and the calendar data g

[2018-03-30 22:20] wesholing opened #95 "Add meta description field"
Can we have a field on pages and blog posts to include a meta description? (The NationBuilder site has this.) This one's also not required before launch, and it doesn't affect search ranking, but it does help how links are displayed in search engine results pages and when sharing on social media.

[2018-03-30 22:40] kyleschmolze commented on #67
👍 Noted. Thanks for putting that together.
On Fri, Mar 30, 2018 at 2:00 PM wesholing <notifications@github.com> wrote:

--
- Kyle

[2018-03-30 22:43] wesholing opened #96 "Build form pages"
Here are all of the non-static pages on the NationBuilder site that I couldn't create as part of the content migration. (This might need to be separate issues.) Depending on existing plans, you may already know about all of these, but I'm listing them here just in case.

https://www.eastbaydsa.org/campaigns-electoral-volunteer
New URL: https://www.eastbaydsa.org/campaigns/electoral/volunteer
Purpo

[2018-03-30 23:08] sarmaswe opened #97 "[Admin] Edit/delete subtitle copy throughout"
@wesholing to revise and delete placeholder text, specifically subtitles, throughout the site

[2018-03-30 23:10] sarmaswe opened #98 "[Admin] Build out top and bottom navigation"
@wesholing to build out top and bottom navigation in the CMS

[2018-03-31 00:49] wesholing commented on #98
Done. I've replicated the layout in the AWS mockup I made.

[2018-03-31 00:50] #98 closed

[2018-03-31 01:00] wesholing opened #99 "Include date and slug in event URLs"
It looks like the site structures event URLs like this: `/events/8`.

Can they instead be structured like this: `/event/yyyy/mm/dd/slug`? I could revise the slugs in NationBuilder if that would help.

[2018-03-31 02:15] bcipriano commented on #67
Sounds like Quill might be a good option here - it definitely covers most of Wes's requests. Maybe all, but I haven't looked at some of the more detailed table/list stuff in there so I'm not sure about that. The `<p>` vs `<div>` thing was one of the reasons I switched to Quill too :)

I'm going to work on open sourcing but the easiest thing for now would be to send me a gitlab ID.

[2018-04-01 14:34] wesholing opened #100 "Install Google Analytics"
This is a quick one.

Please place this code in the `<head>` of each page.

`
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99311180-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-99311180-1');
</script>`

[2018-04-06 18:13] #93 closed

[2018-04-06 18:36] kyleschmolze commented on #99
It's extremely easy to *append* to the URL with `-` characters and words, so instead of `/events/8`, it could be `/events/8--2018-05-01-may-day`, where the first 8 is still the ID of the event, and everything after the first `-` is for vanity and readability. Would this be good enough for our purposes?

We could also do `/events/8-2018-05-01-may-day`, or any set of non-`/` characters between the `

[2018-04-07 00:17] dominic commented on #99
@kyleschmolze We could also do some fun wildcard matching like:

[code]

Would match `/events/8/2018/05/01/may-day` (it would also match _literally anything_ since it's a wildcard), but might look nice. In terms of actual structure, I have a preference for the date formatting in `/events/8/2018-05-01/may-day`.

The biggest problem right now is that we load events by slug, and have to use their uni

[2018-04-09 05:01] wesholing commented on #99
@dominic Good call on the truncated URL issue. Unless there's a way for us to list all April events if the user visits eastbaydsa.org/events/2018/04, then we should avoid that.

How about this instead? `/events/slug-id`

It's better for SEO to have the keywords closer to the domain anyway, and it would keep things unique. `/events/membership-phonebank-412` versus `/events/membership-phonebank-413`

[2018-04-09 05:02] dominic commented on #99
Love it. FWIW the "slug" in that case is basically meaningless - we will load by ID only. This also has the nice benefit of redirects working automatically if we even change a slug.

[2018-04-09 05:07] wesholing opened #104 "Load redirects in bulk"
@kyleschmolze, I think you said you could take care of this one.

I'd like to load in the 301 redirects from the old eastbaydsa.org URLs to the new (e.g. `/about-caucuses` to `/about/caucuses`). I can attach the final spreadsheet when the URL questions are all settled.

Right now, the outstanding questions are around #89 and #99 (specifying whether meeting minutes can be a separate blog and what t

[2018-04-09 06:26] #92 closed

[2018-04-09 06:33] dominic commented on #83
Resolved currently by hiding the byline, but we should revisit with real names. I'll keep this open.

[2018-04-12 19:10] kyleschmolze commented on #96
If you want pages to be able to include forms, I don't know how we could easily do that in the next couple days. Only solution I see is to use Google Forms, and add a big button or link on the page to get there. MAYBE we could easily embed the google forms in a page, but even that goes beyond the abilities of Pages right now.

[2018-04-12 20:52] wesholing opened #105 "Home page name in breadcrumbs"
I just noticed the breadcrumbs use the full sentence for the home page as the name of the link.

![screenshot-2018-4-12 east bay dsa socialist school](https://user-images.githubusercontent.com/1048591/38703475-306c9778-3e58-11e8-9cb9-11ea900c8cd2.png)

It also points to `/home-test`. How can we get the text to just read "East Bay DSA" and direct it to the root (not home-test)?

[2018-04-14 00:57] wesholing opened #106 "Generate sitemap"
Can the site generate a sitemap of all the pages? Attached is a copy of the current site's sitemap (https://www.eastbaydsa.org/sitemap.xml). And if so, can it be at the same URL?

[sitemap.zip](https://github.com/eastbaydsa/website/files/1909873/sitemap.zip)

[2018-04-15 06:44] #78 closed

[2018-04-15 06:55] #85 closed

[2018-04-15 06:55] #86 closed

[2018-04-15 07:36] #87 closed

[2018-04-15 07:44] #84 closed

[2018-04-15 07:48] dominic commented on #106
Mm yep! We can do something like https://github.com/viseztrance/rails-sitemap real easily.

[2018-04-15 08:10] dominic commented on #105
This is actually a misuse of pages as they exist today. The home page content is, today, stored at https://eastbaydsa-website-staging.herokuapp.com/admin/homes, and not in a Page object. The long and short is that every page doesn't need to be owned by the home page.

I've pushed an update that includes the home page in all page breadcrumbs, and and hopefully illustrates the problem a little more

[2018-04-15 08:14] #82 closed

[2018-04-15 08:15] dominic commented on #81
Fixed by https://github.com/eastbaydsa/website/commit/8be52e239d9aa5b770826bd6c7f34f21e50ade87 too

[2018-04-15 08:15] #81 closed

[2018-04-15 08:15] dominic commented on #89
Yep - we can do this! For now, can they be in the main blog roll? It'll be easy to split them in the future.

[2018-04-16 01:04] wesholing commented on #106
Cool! I don't see an example of the sitemap it generates, but if it looks like the one we've got, I'd be happy. :)

[2018-04-16 01:06] wesholing commented on #79
Thanks! It looks good, but is it possible to force the dates and months as two digits? Currently it lists `/news/2018/4/4/` instead of '/news/2018/04/04/`.

[2018-04-16 01:28] wesholing commented on #105
Thanks for taking a look at this. I'm still not clear on how it's supposed to work, though. Should I delete the home-test page? And the home page should still be the parent of landing pages (e.g. About, News, Events), right? Typical information architecture puts the home page above the next level of pages, not on the same level.

[2018-04-16 01:31] wesholing commented on #82
Did this one get published? The example I cited still looks the same.

![image](https://user-images.githubusercontent.com/1048591/38786174-184c3d26-40db-11e8-8adc-c7352e6fa78d.png)

(Here's the page: https://eastbaydsa-website-staging.herokuapp.com/resources/minutes/general-meeting-2017-06-24)

[2018-04-16 01:35] wesholing commented on #89
If we did that, would they also be listed among the blog posts? I'm not so interested in that, more the functionality of having a blogroll like on the current site. If not, we can just leave it as-is.

[2018-04-16 21:10] dominic commented on #89
Right now they would be. We would split them up in the future; I'd just enter them all as blog posts today and we'll filter them into specific blogrolls in the future.

[2018-04-16 21:13] wesholing commented on #89
Ah, okay. We can just leave this as-is for now then. Definitely not
anything that needs to be done before launch.

On Mon, Apr 16, 2018 at 2:10 PM, Dominic Dagradi <notifications@github.com>
wrote:

[2018-04-16 21:14] dominic commented on #89
FWIW it's actually gonna be fairly easy. We could certainly prioritize it before launch.

[2018-04-21 21:50] wesholing commented on #104
Hey folks, here's the CSV with the redirects. I didn't include events, though. Those URLs are still TBD because they're dependent on event ID, and I'll need to revise the slugs in NationBuilder, so I can enter those manually as I go.
[eastbaydsa-redirects.zip](https://github.com/eastbaydsa/website/files/1935025/eastbaydsa-redirects.zip)

[2018-04-21 22:55] kyleschmolze commented on #104
Ready to go! #108

[2018-04-21 23:02] wesholing commented on #97
Okay, all done.

[2018-05-05 17:27] #97 closed

[2018-05-11 17:05] wesholing opened #111 "Install Google Tag Manager"
This one can wait until after launch. It's not installed on the current site, so it's more of a future need.

Please paste this code as high in the `<head>` of all pages as possible.
[code]

Additionally, please paste this code immediately after the opening `<body>` tag on all pages.
[code]

[2018-05-11 21:34] kyleschmolze commented on #104
Ok, this is done, @wesholing! All 239 redirects have been loaded in, view them here: https://eastbaydsa-website-staging.herokuapp.com/admin/redirects

[2018-05-11 21:34] #104 closed

[2018-05-11 23:13] kyleschmolze opened #113 "Styling updates"
- [ ] Flash messages
- [ ] Standardized CSS
- [ ] Footer on mobile
- [ ] 404 page

[2018-05-11 23:57] #99 closed

[2018-05-12 01:09] kyleschmolze commented on #96
@wesholing are we cool with email-field-only forms? That's what we've got right now, which seems sufficient for launch to me, but let me know if not.

As for donations, that's being handled in #65, so I'm going to close this.

Note: We don't currently have pages for https://eastbaydsa-website-staging.herokuapp.com/campaigns/electoral/volunteer nor https://eastbaydsa-website-staging.herokuapp.com/j

[2018-05-12 01:09] #96 closed

[2018-05-12 02:20] kyleschmolze opened #114 "Build a Join page"
Right now, the join page has many components:

1. A link to the nice "Renew" page someone put together: http://renew.eastbaydsa.org/
2. A link to the National DSA join page (https://act.dsausa.org/donate/membership/).
3. A link to our events calendar
4. A form to sign up for our newsletter

Which of these are we trying to recreate? All of them? I feel that the most important aspect of the join pag

[2018-05-12 19:05] kyleschmolze opened #115 "Proposed visual update"
Ok, I'd love for us to make some visual updates before launch, and I think we can launch with something closer to the design work in #4. The problem is that those designs don't fit our current data modeling, as pretty as they are. So I took a stab at a redesign of the current layout / page elements while keeping in mind our current backend, meaning that this design can be implemented *now* (and th

[2018-05-12 19:30] sarmaswe commented on #115
Woah, I’m traveling and won’t have time to really look at these until
Monday, though at first glance, this looks great! And it looks like you’re
matching the existing content structure for the new site, which is 👍👍

Thank you, Kyle 🙂

(Hoping reply by email works as intended)

On Sat, May 12, 2018 at 12:23 PM Kyle Schmolze <notifications@github.com>
wrote:

[2018-05-12 22:14] dominic commented on #115
@kyleschmolze I am very :+1: on these changes to launch with. Some feedback:

- I think for mobile, we'll need to use a full hamburger menu (in case anyone adds a 5th item)
- I wanna make sure for our large width option, the logo and menu items are still bound to a max-width (layout of current navbar essentially, minus social links which is a good substraction)
- For homepage, I want to expand the

[2018-05-13 06:56] #94 closed

[2018-05-16 19:28] kyleschmolze commented on #113
Handled by #119

[2018-05-16 19:29] kyleschmolze commented on #74
Handled by #119

[2018-05-16 19:29] #74 closed

[2018-05-16 22:54] kyleschmolze commented on #105
As of #119, I would like to indeed merge Home into Pages, and this bug won't happen anymore! (breadcrumbs always display the home link, regardless of the final parent, and home subpages show up on the homepage just like any normal page)

[2018-05-17 21:37] kyleschmolze commented on #114
Cool I'll just do a simple re-build, without changing much copy, so it's easy to green light.

Should be able to PR it tmw

[2018-05-17 22:48] sarmaswe commented on #114
Sounds good -- thanks, Kyle.

[2018-05-18 02:26] kyleschmolze commented on #114
PR Submitted, would love feedback! #120

[2018-05-20 17:39] dominic opened #121 "Widen calendar view"
Since there's no line length concerns, let's let the calendar break out of the grid a little bit more so that events have more room:

<img width="971" alt="screen shot 2018-05-20 at 10 32 03 am" src="https://user-images.githubusercontent.com/185645/40281736-06fabe8a-5c1a-11e8-8f03-e9e9a2a2fc42.png">

[2018-05-20 17:40] dominic opened #122 "Remove copyright from footer"
We definitely don't care/want to copyright anything here. We could put a friendly message there instead?

[2018-05-21 21:15] #105 closed

[2018-05-21 21:15] #113 closed

[2018-05-21 21:15] #115 closed

[2018-05-21 21:16] kyleschmolze commented on #88
The new design handles this by bolding page titles 👍

[2018-05-21 21:17] kyleschmolze commented on #75
Handled by #119

[2018-05-21 21:17] #75 closed

[2018-05-21 21:28] wesholing commented on #88
Can you explain a bit? How can I specify a different value in the page's `<title>` element from its `<h1>` element?

[2018-05-21 22:19] kyleschmolze commented on #121
I fixed this in #124 but I still think that on mobile this would ideally render completely differently (like just a list view basically)

[2018-05-21 22:32] kyleschmolze commented on #88
Oh I'm an idiot, sorry @wesholing I thought you meant the `title` field on the `Page` object, which just renders as a bold H1. Didn't realize you mean the HTML `<title>` tag. Ignore me!

[2018-05-21 22:52] wesholing commented on #88
No problem. :-) Thanks!

[2018-05-22 21:42] #121 closed

[2018-05-22 21:53] kyleschmolze opened #125 "Events calendar is broken on mobile"
The event calendar doesn't collapse down for mobile viewing easily. I think the easiest solution would be to just render a list view of all upcoming events inside a mobile-only `div` on the page, and hide the calendar completely, but I'm open to other solutions as well. Would opt for a simple fix for now, though.

Screenshot:

<img width="393" alt="image" src="https://user-images.githubusercontent

[2018-05-22 21:53] #114 closed

[2018-05-23 22:37] kyleschmolze opened #127 "Add mobile view meta tag"
The site currently renders a full-size version on phones, and just needs the proper meta tag to display properly.

[2018-05-23 23:04] sarmaswe opened #128 "COPY : homepage : convention passed"
@wesholing, should you revise copy or delete section on homepage about convention, as it already passed?

screenshot below
<img width="772" alt="screen shot 2018-05-23 at 4 03 54 pm" src="https://user-images.githubusercontent.com/13740788/40455677-ec0dc37a-5ea2-11e8-8112-a09a8cea47e1.png">

[2018-05-23 23:07] sarmaswe opened #129 "LINKS : homepage : "about" and "single-payer" link to existing site"
@wesholing, possible to update so these link to the new site?
- On homepage, under Learn More, “about East Bay DSA” links to old/existing site. (“About” in top and bottom nav link to current site.)
- On homepage, under “Single-Payer…,” single-payer link goes to old/existing site.

[2018-05-23 23:09] sarmaswe opened #130 "LINKS : bottom nav : "Campaign" link not working"
@wesholing, possible to update with a working link?
- In bottom navigation, “Campaign” link does not open anything

[2018-05-24 05:06] wesholing commented on #128
Good catch. I've fixed it to reflect what's on the current home page.

Thanks!
Wes

On Wed, May 23, 2018 at 4:04 PM sarmaswe <notifications@github.com> wrote:

[2018-05-24 05:08] wesholing commented on #129
Yeah, fixed these too. There was an earlier issue with the previous content
editor that prevented me from making relative links on the site. Since we
have redirects in place, once the new site goes live, the absolute links
that point to the old NationBuilder URLs will still work, but I'll review
the pages before we launch to fix any of these just in case.

Wes

On Wed, May 23, 2018 at 4:07 PM sarm

[2018-05-24 05:11] wesholing commented on #130
These aren't working for me either, but the URLs for both are right. (I also can't change the Facebook link.)

@dominic or @kyleschmolze, can you take a look at this?

[2018-05-24 16:39] kyleschmolze commented on #130
We had a Redirect from `/campaigns` to `/campaigns`, and it created a redirect loop. This should not be allowed, so I added a validation to prevent it from happening in the future, check the new PR

![image](https://user-images.githubusercontent.com/1200038/40498916-3ae6417e-5f35-11e8-87d0-39df3ecc1104.png)

[2018-05-24 16:39] #130 closed

[2018-05-24 16:40] kyleschmolze commented on #130
(I also deleted that Redirect, so the campaign page works now)

[2018-05-24 16:42] kyleschmolze commented on #129
Looks like you successfully updated these to relative links, @wesholing, and they work - closing

[2018-05-24 16:42] #129 closed

[2018-05-24 16:42] #128 closed

[2018-05-24 17:57] wesholing commented on #80
Yes! I tried it out last night, and it works. I'm in the process of going through and updating the rest of the pages I've flagged that had absolute URL links.

[2018-05-25 01:54] #127 closed

[2018-05-25 02:05] #125 closed

[2018-05-26 17:01] kyleschmolze opened #134 "Vanity updates"
- We should use the oakland DSA tree as a `favicon`
- The giant card-links should have a box-shadow just like buttons. Cause they're basically giant buttons.

[2018-05-27 05:34] wesholing opened #135 "[bug] "Posted at" date reset when editing blog posts"
Blog posts have "posted at" dates, which affects the page URL, but when I click "Edit" in the admin tool, the "posted at" date resets to the current date and time. (I've only observed this behavior in production, not staging.)

[2018-05-28 19:03] #135 closed

[2018-05-29 20:53] wesholing commented on #79
Hey, I just remembered this one. Is it possible to adjust the date format so that it looks like I wrote it in my last comment?

[2018-05-29 20:55] dominic commented on #79
Oh prolly. Lemme re-open ths.

[2018-05-29 23:28] wesholing opened #141 "Add more header levels to editor"
Can someone please add H4, H5, and H6 to the new visual editor? I don't usually need anything beyond H3s, but they come in handy when writing up the meeting notes for either sections within sections or when including some copy (in a motion, usually) that another member has submitted for consideration by the committee.

[2018-06-19 04:45] wesholing opened #143 "View this month's past events in mobile view"
There's a use case that's missing in mobile view.

Desktop users get the calendar of this month's past and upcoming events. Clicking back to a previous month shows that month's past events.

Mobile users get the calendar of only this month's upcoming events. Clicking back to a previous month shows that month's past events.

I think we should either list all of this month's events, past and upcomin

[2018-06-19 04:49] wesholing opened #144 "Change "where" default value"
Meetings without a location listed (e.g. private meetings, phonebanks at members' houses, etc.) list "Exact location not set, yet.", but when the location field is blank, it's intentional. Locations that are to be determined include "Location TBD" in NationBuilder, so can we change the default string to something like "No location listed."?

[2018-06-19 04:56] wesholing opened #145 "Add date to event page title"
Ignore this if the event page title (`<title>`) is still handled by NationBuilder.

Otherwise, please include the event date in the page title for events. We get SEO penalties for having pages with the same title, and event titles often repeat since we do a lot of the same work over and over (e.g. "Phonebank for Democratic Socialists"). Adding the date helps us avoid that.

The format I've been us

[2018-06-19 05:02] wesholing opened #146 "Add "Add to Google Calendar" link"
I modified the event template a while back to auto-generate an "Add to Google Calendar" link to event pages. Could we keep that, too? It's basically just a dynamically generated URL string that pulls event data already on the page (but only if the necessary data is on the page).

[2018-06-19 17:47] dominic commented on #146
:+1:

Woud love to have this whole calendar be publicly subscribe-able too. Good stuff in https://www.toasterlovin.com/rails-webcal-links-with-icalendar-gem/

[2018-06-25 04:13] #144 closed

[2018-06-25 04:13] #145 closed

[2018-06-25 04:13] #143 closed

[2018-06-26 19:56] kyleschmolze commented on #141
Right now, the H4, H5, and H6 all have the same styles as our normal paragraph tags:
<img width="300" alt="image" src="https://user-images.githubusercontent.com/1200038/41935897-3f969db6-7940-11e8-9515-763aae1d2076.png">

I don't particularly see a reason to add 3 new font styles in between 18px (normal) and 24px (H3), unless you think they need certain weight/color or other differentiators. What

[2018-06-26 20:08] kyleschmolze commented on #90
Feels like this is pretty easily accomplished with Google Drive files, and linking to them from there? We could also I'm sure add S3 support for various files but it seems a bit unnecessary if it's just an <a> tag to a file to download / view.

[2018-06-27 03:06] wesholing commented on #79
Hi there, just noticed that the date format is still yyyy/m/d instead of yyyy/mm/dd. Any chance we can change this before the site goes live? All the redirects point to URLs with that latter format.

[2018-06-27 03:32] wesholing commented on #90
It's not just PDFs, though. We often include images in posts, and we don't have a place for those, either. I'd rather not host files in Google Drive because it leaves us open to those files no longer becoming available if someone stops sharing, etc., and we don't have a dedicated Drive currently. If we end up using up the space or needing to repurpose it, it'll be a real pain to point the links el

[2018-06-27 18:01] #146 closed

[2018-06-28 03:01] wesholing opened #150 "Migrate meta descriptions and titles"
Bring over the meta descriptions and titles from the NationBuilder site. (Please assign this to Wes.)

[2018-07-07 21:05] dominic opened #152 "Use leading zeroes in news post URLs"

[2018-07-08 04:18] sarmaswe opened #157 "CODE : Events : event image too large"
URL: https://www.eastbaydsa.org/events/431/2018-07-08-intro-to-dsa

For events with an image, like "Intro to DSA," the event image loads at such a large size it makes the page difficult to read. It's happening on my computer and phone.

![screen shot 2018-07-07 at 9 12 33 pm](https://user-images.githubusercontent.com/13740788/42416680-b075226c-822a-11e8-81d4-9806dd987cc5.png)

![img_2adf3bee1643-1

[2018-07-08 04:29] sarmaswe opened #158 "DESIGN : Homepage : Hero image (?)"
URL: https://www.eastbaydsa.org

So I'm liking that our homepage image is more specific to EBDSA, though it's tough for me that our homepage image is of people's backs, as it feels like an immediately unwelcoming visual. I acknowledge that it's difficult to find a good image for this page that will also accommodate the text across the middle.

@wesholing who could I talk with to see about other im

[2018-07-08 04:30] wesholing commented on #157
I'm getting the same result. The NationBuilder site sets `max-width` on `img` elements to `100%`. I recommend we amend our CSS to do the same.

[2018-07-08 04:35] wesholing commented on #158
We discussed this today at our meeting, and landed on this image because it avoids any identity and anonymity issues. Dominic had a good selection of images that aren't from behind, and I think we could use them, but we should clear it with the people in the image before we do.

[2018-07-08 04:39] sarmaswe opened #159 "CODE : Links : opening in new tabs inconsistently"
URLs:
https://www.eastbaydsa.org
https://www.eastbaydsa.org/about
https://www.eastbaydsa.org/resources
https://www.eastbaydsa.org/donate
https://www.eastbaydsa.org/join

I'm outlining the inconsistent treatment of links opening in new tabs below. My suggestion would be to have all internal links open in the same tab, perhaps with the exception of PDFs; and for links to other sites to open in new t

[2018-07-08 04:43] wesholing commented on #159
I'm getting the same behavior, and it's not specific to the home page. I can't control that from the editor, so I think it's a setting built-in in the CMS.

@dominic, can you check?

[2018-07-08 04:52] sarmaswe opened #160 "ADMIN : News : Outdated-RSVP-link 404 intentional?"
URLs:
https://www.eastbaydsa.org/news/2018/6/4/tdu-fundraiser
https://www.eastbaydsa.org/event-social-2018-06-09-teamsters-democratic-union-fundraiser

I think it would be totally fine for this to stay as is, as the event is in the past -- and I remember some conversation about this. I just wanted to double check that this is as expected. Is that correct, @wesholing?

![screen shot 2018-07-07 at 9

[2018-07-08 05:04] sarmaswe commented on #159
I updated the initial comment based on additional info -- @wesholing

[2018-07-09 03:57] dominic commented on #152
Closed by #153

[2018-07-09 03:57] #152 closed

[2018-07-09 19:05] wesholing opened #162 "Make 302 redirects 301 instead"
Our redirects currently use the temporary redirect, HTTP server code 302. Please use 301 (permanent) instead.

[2018-07-12 15:36] sarmaswe opened #163 "NEW PAGE : Committees : review"
Hi, @wesholing  Will you please share info here about the new Committees page? Like where you are thinking it will live, as well as the copy and design you're thinking about? Or when you're thinking it will be ready for us to take a look?

[2018-07-12 15:53] sarmaswe opened #164 "NEW FEATURE : Email : option to unsubscribe by committee"
We talked about adding the option to unsubscribe from specific committees via email

@dominic what do you think the approximate lift is for this? Any necessary dev background?

As far as design and copy, it seems like it would be perhaps updating the unsubscribe link at the bottom of EBDSA and then updating the Unsubscribe options page?

<img width="1440" alt="screen shot 2018-07-12 at 8 48 33 am"

[2018-07-12 16:00] sarmaswe opened #165 "ADMIN : Events: July 17 night school -- missing readings"
URL: http://www.eastbaydsa.org/events/435/2018-07-17-socialist-night-school-immigration-and-global-capitalism

@wesholing the July 17 night school page doesn't have readings up yet. Is that because they haven't been supplied to us yet?

<img width="807" alt="screen shot 2018-07-12 at 8 59 55 am" src="https://user-images.githubusercontent.com/13740788/42645082-fdd10226-85b1-11e8-9671-ee8cef75fa59.p

[2018-07-12 16:20] sarmaswe opened #166 "NEW PAGE : Night School : concept"
URLs:
http://www.eastbaydsa.org/events/428/2018-07-12-socialist-night-school-housing-justice
http://www.eastbaydsa.org/resources/readings/socialist-school/2018/summer/session-1

We talked about creating a page for night school, though looking at how the night school events are on the calendar now, it seems to be pretty much working fine.

What would it make sense to build here? A curriculum page t

[2018-07-12 16:33] sarmaswe commented on #158
@dominic @kyleschmolze @llkats are you guys good with the hero image? I'm basically asking if I should drop it or start looking for pictures.

[2018-07-12 17:19] dominic opened #167 "BUG: venue name can generate incorrect Google Map"
This address fails, returning a map for Detroit, MI:

[code]

This address is fine:

[code]

---

The venue name seems to trigger something in Google Maps that can send it to the wrong address.

[2018-07-13 14:59] sarmaswe commented on #166
One approach would be to set up a way to group/link events. So if we could tie all the night school events together, and then when someone clicked a Night School event, the Event page displayed the info about that event, and also context about the event group as well, with a list of related/past events.

And then that same feature would apply to other events that occur as a series or repeat.

[2018-07-13 15:14] sarmaswe commented on #165
looks like these are up now -- thank you!

[2018-07-13 15:14] #165 closed

[2018-07-18 20:15] wesholing commented on #163
Sure thing. The page has been live since the site launched.
http://www.eastbaydsa.org/about/committees

[2018-07-20 04:12] sarmaswe commented on #163
@kyleschmolze does the committees page cover everything you were thinking of?

http://www.eastbaydsa.org/about/committees

[2018-07-20 04:15] sarmaswe commented on #166
@kyleschmolze are you thinking about it being something that's called out on the homepage, and then someone clicks it to go to Night-School specific page?

Similar to Single Payer on the homepage now?

http://www.eastbaydsa.org

[2018-07-20 18:06] kyleschmolze commented on #166
Yeah something like that

[2018-07-20 18:07] kyleschmolze commented on #166
But also, we'll want a process for keeping this stuff up to date, cause we def have 3 big campaigns right now and they're not on the homepage! I'm sure @wesholing has thought about this already and we can chat it out at the meeting next Wed

[2018-07-20 18:13] wesholing commented on #166
Yup, I hounded co-chairs to put this page together, so they know about it
now. As things change, I'll update it.

As for the campaigns, I've asked about building them out and promoting
them, but apparently we need to be careful about how we promote things that
are PAC-related, like our electoral work, like Jovanka and Prop 10. This is
a good time to check in again, but that was the last I heard.

[2018-07-20 19:14] kyleschmolze commented on #163
Awesome! Thanks for putting that all together, @wesholing. Some ideas:

1. In my ideal world, each committee would also have basic info on how to get involved. At a minimum, you can always just email the co-chairs, but that's an extra step many won't take (and more emails for the co-chairs to respond to). It would be great if each committee listed it's membership criteria, e.g. "Membership open to

[2018-07-25 00:16] sarmaswe commented on #163
@kyleschmolze I really like your feedback. Thank you for taking the time to add it.

@wesholing what do you think about points 1 and 2? what would be the process for gathering that info?

and Kyle I hear you on number 3. Maybe tomorrow night we can get a sense of our plan for updating the landing page in general, and then see if we should bundle this change with that work, or work on it separately

[2018-07-25 00:21] sarmaswe commented on #166
@wesholing when you say you "hounded co-chairs to put this page together" -- what page are you talking about?

[2018-07-25 00:37] sarmaswe commented on #160
@wesholing this is as expected, right?

[2018-07-25 00:38] sarmaswe commented on #157
@kyleschmolze is this something you could help with?

[2018-07-25 17:10] kyleschmolze commented on #157
Yup.

[2018-07-25 17:20] kyleschmolze commented on #164
My assumption is that this would need to be handled almost entirely within NationBuilder settings, and we can only do it if they support those types of unsubscribes. NB handles our subscriptions, tags, and newsletters, so I'd guess that we need to go through it for this as well. Unless we're just using tags to manage subscriptions, and thus our new "unsubscribe" page would be built by us, and simp

[2018-07-25 17:22] kyleschmolze commented on #166
I think he was confusing threads - that looks like a comment about the Committees page, which he did have to hound the co-chairs for :)

[2018-07-26 02:27] kyleschmolze opened #172 "Setup a seeds.rb file or .sql file with actual Pages from production"
Would be great for new developers to have some content to view when they launch the portal.

[2018-07-26 04:39] wesholing commented on #162
I'd like the redirects we have to be 301s. We changed our URL structure
when we migrated CMSes, and we're not going back to the old one, so they
don't need to be temporary.

On Wed, Jul 25, 2018, 7:27 PM Brian Donovan <notifications@github.com>
wrote:

[2018-07-26 16:47] eventualbuddha commented on #162
@kyleschmolze explained that there is a `Redirect` model that is used by `PageController` to handle redirecting old URLs to the new style. This is an easy fix, but I need to get the development environment set up first. I'll open a separate ticket about that.

[2018-07-26 16:49] eventualbuddha opened #173 "`NATION_NAME` and `NATION_API_TOKEN`"
What should I use for these values? The README doesn't really cover it.

[2018-07-26 17:05] kyleschmolze commented on #173
I will Slack it to you, but do you know of any good solutions for this issue? Maybe something as simple as an encrypted archive in the repo we share the password to verbally. But I'm sure there are good solutions to this.

[2018-07-26 17:07] kyleschmolze commented on #173
Ah - you're not on Slack yet. I emailed your email listed on your github profile, just put that into a `.env` file in the root directory of the repo.

[2018-07-26 17:24] dominic commented on #173
Just invited you to our Slack too.

[2018-07-27 16:38] eventualbuddha commented on #173
Thanks, seems to work now.

[2018-07-27 16:38] #173 closed

[2018-07-27 17:03] #162 closed

[2018-07-27 17:29] eventualbuddha opened #175 "SSL: http should always redirect to https"
Unless there's a very good reason not to, the website should always serve pages via SSL. In particular, it should not be possible to load http://www.eastbaydsa.org/admin/login without SSL. All `http` requests should be redirected to `https`. This could be done by rails, but might be better done at the outermost layer, i.e. nginx or whatever it is.

[2018-07-29 03:31] llkats commented on #158
I don't have strong feelings about the background image; I think it does the job for now, but we could always be on the look out for better hero images.

I _do_ think that the header text is difficult to read. I can make a different issue if that's more appropriate but I tried mocking up a couple different ways to make the text easier to read:

![image](https://user-images.githubusercontent.com/57

[2018-08-01 02:07] sarmaswe commented on #158
Cool -- thank you, @llkats ! I think you're right about the text being difficult to read. I like your first option, and I think dimming the image makes me more okay with it.

@kyleschmolze @dominic @wesholing -- any thoughts?

[2018-08-01 02:16] sarmaswe commented on #164
Thank you for adding this, @kyleschmolze  -- @dominic , will you please share your thoughts too?

[2018-08-01 06:26] dominic commented on #164
I'll have to sync up with Sean on this. I'm not sure we've got any control over how this works in NB. He's coming to the end of our work meeting on Saturday, so it would be a good time to try to figure out what our current understanding on the NB side is.

[2018-08-04 16:41] sarmaswe commented on #158
I like the purple one too, so let's move ahead with that. What's the next step for that?

And the different page styles seems to make sense.

[2018-08-04 21:03] dominic opened #178 "FEEDBACK: Home page and website"
Based on feedback from the steering committee

- [x] Tag articles from the news section to be on the homepage, to promote fresh content, and highlight our campaign work
- [ ] Add preview images to each article in the news section
- [x] Add "Events", "Join DSA" (<- link to national) buttons to the bottom of the homepage
- [ ] Include recent Tweets on homepage (no RTs, no replies?)
- [x] Include Jov

[2018-08-04 21:03] dominic commented on #178
I'll be tackling some of this checklist today; let's make new issues and edit the above description with issue numbers when someone starts on on.

[2018-08-04 21:40] llkats opened #181 "Add "Events" and "Join DSA" buttons to homepage"
From #178, add "Events" and "Join DSA" (<- link to national) buttons to the bottom of the homepage. We decided to add these CTAs further up in the page to make them more front and center.

[2018-08-04 21:41] #158 closed

[2018-08-04 21:58] llkats commented on #158
@sarmaswe I added the background and merged it today! Please feel free to reopen this issue or make a new one if you have more feedback about the hero component.

[2018-08-04 23:08] sarmaswe commented on #158
Thank you @llkats !! It looks great

[2018-08-05 00:13] sarmaswe commented on #163
@wesholing just checking on this again. Will you please take a look at the last comment?

[2018-08-06 04:35] wesholing commented on #166
Oof, yes. I tried changing some settings in Gmail and ended up thoroughly confusing it (and me) when it came to these updates. That comment was related to the committees page, sorry about that.

To touch on some points earlier in this thread:
- I really like @kyleschmolze's suggestion about a marketing page for Night School. We could even direct traffic to that from social media, email, etc.
- The

[2018-08-06 04:38] wesholing commented on #160
Yeah, I think the link is fine to leave, but I've updated it to the past event URL (which changed as a result of the content migration). The blog post should be good now.

[2018-08-06 04:44] wesholing commented on #163
Sorry again, still digging out from this trove of GitHub emails.

I like @kyleschmolze's suggestion about membership criteria, etc. Most committees are still formulating this information, but I'll start reaching out to them to see what they have or if they'll want to include it on the page.

In terms of content, though, if we included this info for all of these committees, this page is bound to ge

[2018-08-10 23:45] kyleschmolze opened #184 "NEW FEATURE: Search within eastbaydsa.org"
So it would actually be super simple to add a search function within eastbaydsa.org, and I think that given how much content there is, hidden down below many page levels (including meeting minutes, etc), a search function would be *super* useful.

Proposal: Add a search field on the footer of the website, right above the "About us" section. When submitted, it just send them to DuckDuckGo with an i

[2018-08-20 15:06] dominic commented on #159
Bumping this; it seems like all CMS-edited content opens in a new tab. Let's try to address this one soon cause it's weirdly annoying.

[2018-08-23 02:09] eventualbuddha commented on #159
Based on what I've seen of the admin interface, I'm pretty sure the `target="_blank"` is just part of the HTML in the `Page#content`. They probably need to be removed manually, but I can't verify this because I don't have access to the admin site.

[2018-08-23 02:33] eventualbuddha commented on #159
Also, the link button in the admin editor is [adding these whenever you add a link](https://github.com/quilljs/quill/blob/9a77567fe356d384074df7479c33ceac509d9351/formats/link.js#L7). Not sure how easy this would be to fix.

[2018-09-06 03:14] kyleschmolze opened #188 "Set up Rails-Settings"
For the long term health of our home grown CMS system, we should probably have some configurable settings within the GUI. If we ever hope to have other DSA chapters use our site, we'll need to avoid too much hardcoding, and instead start building some controls into the database through a `Setting` model of *some* sort.

The [rails-settings-cached](https://github.com/huacnlee/rails-settings-cached)

[2018-09-06 03:22] kyleschmolze opened #189 "Connect Membership controller to NationBuilder"
Instead of reading hard-coded emails from a config variable, we should use the NB API to check for membership status. The user needs to have the `national_member` tag to be given access. Let's also preserve a way to hard-code in some extra email addresses, either via the config variable or a list of emails in Auth0.

[2018-09-06 03:46] kyleschmolze opened #190 "Security concern!"
I just found a big ole' security hole - we allow users to set their own tags within NationBuilder. All they have to do is edit the hidden field on a sign up form, like [this one](http://www.eastbaydsa.org/campaign/labor-rapid-response), and they can set themselves as `national_member` tagged.

I just did this in development and it worked :)

We should either:
1. Have a whitelisted set of tags that

[2018-09-06 16:09] #190 closed

[2018-09-07 17:14] kyleschmolze commented on #181
Closed by #180 - @dominic 's new design has those 2 primary CTAs 😄

[2018-09-07 17:14] #181 closed

[2018-09-07 17:20] kyleschmolze commented on #159
Ok, I found some issues in the Quill repo about this, and it can be done! But it is a bit annoying:

- https://github.com/quilljs/quill/issues/1139  Link without target - how to?
- [Working Codepen Example](https://codepen.io/anon/pen/GNMXZa)

I think it would be pretty easy to override all links so that we *never* use `target=_blank`, which I would advocate for. People know how to open links in a

[2018-09-07 17:29] kyleschmolze opened #194 "BUG: New Homepage title text is grey instead of white"
<img width="693" alt="image" src="https://user-images.githubusercontent.com/1200038/45233824-d5f99480-b288-11e8-99ee-79cdb0b07434.png">

[2018-09-07 17:30] kyleschmolze opened #195 "NEW FEATURE: Add preview images to each article in the news section"
As per #178

Should be pretty easy to port over the image-attachments from Pages to BlogPosts

[2018-09-07 17:31] kyleschmolze opened #196 "NEW FEATURE: Include recent Tweets on homepage"
As per #178

Include recent Tweets on homepage (no RTs, no replies?)

[2018-09-07 17:31] kyleschmolze commented on #178
3 of these are already done, and the remaining 2 I split out into their own issues. Closing.

[2018-09-07 17:31] #178 closed

[2018-09-10 20:47] #189 closed

[2018-09-14 18:21] wesholing opened #201 "NEW FEATURE: Add id to RSVP section of event pages"
_via Andrew Richner_

Please add `id="rsvp"` to the RSVP `h2` on events pages so that we can link directly to them.

[2018-09-14 20:03] eventualbuddha commented on #201
This is usually done with `<a name=“rsvp”>`, right? I’m sure you could implement a JavaScript scroll, but it’s probably better to just use the built-in browser features.

[2018-09-15 03:27] eventualbuddha commented on #201
Huh, interesting. *grumble grumble* in my day *grumble grumble*

[2018-09-17 14:04] wesholing opened #202 "NEW FEATURE: Add email address to site footer"
The Steering Committee passed a [resolution](http://www.eastbaydsa.org/resources/minutes/steering-committee-2018-08-19) regarding press inquiries and how they should be handled on August 19. ("Resolution to formalize media request protocols").

Part of that resolution states: "Therefore be it resolved that information shall be added to the website regarding media requests and the proper channels f

[2018-09-20 01:31] wesholing commented on #201
Yeah, I feel like I find a "new" standards update every week.

Since this one seems pretty quick, could we have it in place by this
weekend? The Jovanka people want it when they link from events on her site
to ours. Thanks!

On Fri, Sep 14, 2018 at 8:27 PM Brian Donovan <notifications@github.com>
wrote:

[2018-10-27 20:44] dominic commented on #195
Did it!

[2018-10-27 20:44] #195 closed

[2018-10-27 20:44] dominic commented on #194
Resolved.

[2018-10-27 20:44] #194 closed

[2018-10-27 21:04] dominic opened #207 "Website: add new Handbook content as website pages"
Replace handbook.eastbaydsa.org with normal content pages on the website. Members should be able to find the member handbook easily, as part of our site navigation or footer, and should be organized into pages in our CMS that others can edit easily as changes need to be made.

There's six sections in our current handbook, so maybe a main page with six subpages would be a good structure?

[2018-10-27 21:07] dominic opened #208 "Forum: restrict login to members who have attended one or more general meetings"
Existing method: https://github.com/eastbaydsa/website/blob/main/app/controllers/memberships_controller.rb#L4

We should add a requirement that members will only be admitted if they also have a tag matching `meeting_general_XXXXXX` to allow access.

[2018-10-27 21:11] #45 closed

[2018-10-27 21:11] #65 closed

[2018-10-27 21:14] dominic commented on #188
Merged!

[2018-10-27 21:14] #188 closed

[2018-10-27 21:36] dominic commented on #141
Gonna close this in favor of a more detailed editor requirements spec.

[2018-10-27 21:36] #141 closed

[2018-10-28 04:52] dominic commented on #175
Fixed in #210

[2018-10-28 04:52] #175 closed

[2018-11-01 04:15] sachaarnold commented on #166
I reviewed the website against the suggestions the outgoing Education Committee made.  See below for my own suggestions.

- I'd want to consult with the incoming EduCom folks to determine what categories to use for tagging the content.  For tagging the complexity, I saw "easy" and "moderate" used in 2017.  Is there interest in adding category and complexity tags for every reading?
- There appear t

[2018-11-01 04:18] sachaarnold commented on #207
Sounds like a good structure.  Is there an ETA for the final handbook text?

[2018-11-02 21:15] #201 closed

[2018-11-05 05:35] wesholing commented on #166
Thanks, Sacha! We've got another committee meeting later this month. I'll propose this to them then and provide an update.

[2018-11-07 18:31] kyleschmolze commented on #184
@dominic #199  should be ready for merge, no?

[2018-11-07 18:34] kyleschmolze commented on #208
#209 was already merged, so should be good to close, yes?

[2018-11-09 18:31] wesholing opened #213 "Limit next and previous options on calendar"
The links to go to previous or future months on the calendar are almost infinite. Crawls on the site from either a tool like Screaming Frog or search engines like Google will index thousands of pages. Please limit the calendar to only months with events (or, if that's not possible, April 2017 to two months ahead from the current month).

[2018-11-09 18:32] wesholing opened #214 "Add "Events" to events page title"
The current page title of the events page is "East Bay DSA." Please set it to read "Events - East Bay DSA."

[2018-11-10 22:15] wesholing opened #215 "Redirect URLs with slash to URLs without slash"
Users who visit URLs with a trailing slash don't get automatically moved to those without a trailing slash (e.g. `/resources/` to `/resources`), which splits the link equity and duplicates it in the analytics.

Please redirect all traffic to pages with the slash to pages without the slash.

[2018-11-19 07:31] #184 closed

[2018-11-19 07:32] dominic commented on #184
@kyleschmolze Agreed - merging and deploying.

[2018-11-19 08:01] #214 closed

[2018-11-19 08:07] #213 closed

[2018-11-24 00:46] themurph23 commented on #215
I haven't figured out how to do this in rails yet, but I did find this:

https://www.getelevar.com/how-to/fix-duplicate-url-google-analytics/

[2018-11-24 02:16] dominic commented on #215
Enforcing the trailing slash programmatically seems to be the easier variant here: https://coderwall.com/p/w_ilwg/dealing-with-trailing-slashes-in-rails-apps

[2018-11-24 07:38] themurph23 commented on #215
Made a pull request

[2018-11-25 00:06] themurph23 commented on #196
![image](https://user-images.githubusercontent.com/3690500/48974067-9a0dda00-f002-11e8-8011-4af2f7df0191.png)

That's how it looks at https://eastbaydsa-staging.herokuapp.com/ in the footer.

Is that close to what you were thinking? I wasn't sure about where it should be located, on it's own page or something.

[2018-11-25 19:09] dominic commented on #196
I think that look great :+1: We need to do a little responsive formatting for tablet and mobile sizes now – need a hand with that, or do you wanna take a stab at the CSS?

[2018-11-25 19:35] themurph23 commented on #196
Oh hmm, the mobile version looks okay, but I guess the tablet version is messed up. I'll take a stab at it.

[2018-11-26 16:25] kyleschmolze opened #219 "BUG "Sorry, that email is not on our member roll...""
I can't get into the forum anymore... :( When I attempt to log in via Auth0, I get "Sorry, that email is not on our member roll".

Oddly, I went into Auth0 as an admin, and pulled the URL and API key to manually check our little membership-confirmation API, and it works properly! Aka. this url shows me as "found":

https://eastbaydsa-prod.herokuapp.com/memberships/check/?email=kyletns@gmail.com&ap

[2018-11-26 16:32] eventualbuddha commented on #219
I also can't get in.

[2018-11-26 16:50] kyleschmolze commented on #219
Ok, just trying to track this down a bit more.

We use this "Hosted Page" to render a custom error message if there is a problem logging in: https://manage.auth0.com/#/login_page

This is the line that overrides the error message:
[code]

The default dictionary for those messages is here: https://github.com/auth0/lock/blob/master/src/i18n/en.js#L32

If I comment out the custom error code above on

[2018-11-26 17:21] kyleschmolze commented on #219
Ok fixed it!

I don't know why, but our server started responding to Auth0 with 301 redirects, which the node `https` module doesn't follow through by default. I switched up our impolmentation on to use the `request` module, which does follow redirects, and it all seems to work now!

[2018-11-26 17:21] #219 closed

[2018-11-26 18:29] dominic commented on #215
Merged and deployed.

[2018-11-26 18:29] #215 closed

[2018-11-26 18:31] dominic commented on #219
Ah ha. I can explain that! We made a change to URLs to help @wesholing's analytics, so all paths without a trailing slash redirect to one with a trailing slash (from https://github.com/eastbaydsa/website/pull/217)

Sorry that broke login, but great catch! If you update the URL in Auth0 to have a trailing slash, it won't get a redirect anymore, though this seems like an even more flexible solution

[2019-05-29 02:25] #196 closed

[2019-05-29 02:45] #202 closed

[2019-05-29 02:45] #163 closed

[2019-12-06 05:05] tilgovi commented on #172
If anyone finds this, I was able to set up my local environment by running `heroku pg:pull -a eastbaydsa-staging postgresql-crystalline-38585 ebdsa-website`

[2019-12-06 05:06] tilgovi commented on #111
Closed by #220.

[2019-12-06 05:06] #111 closed

[2019-12-07 22:34] tilgovi commented on #159
I've made a PR (#231) for implementing this selectively and conservatively so that only internal links (links back to the website itself) open in the same tab. This should improve navigation a little bit. Justification for limiting this to internal links can be found in the PR and the code comments.

[2019-12-07 22:35] tilgovi commented on #150
Assigned to Wes.

[2019-12-07 22:36] tilgovi commented on #89
Bump. Should we do this? What's happening with meeting minutes currently?

[2019-12-07 22:38] tilgovi commented on #207
Bump on this. It's listed as the only high priority issue. I'm happy to tackle it but need a little bit of direction.

[2019-12-07 23:21] sachaarnold commented on #207
Per Dom's original comment, the idea is to migrate the content at handbook.eastbaydsa.org into the main eastbaydsa.org website and make it easier to navigate to.

[2019-12-10 17:41] wesholing commented on #89
+Mark Gabriel <mjpgabriel@gmail.com>

Thanks for following up, Randall. Currently, meeting minutes are added to
the site like any other page, then linked manually from one of the minutes
pages (general meetings <https://www.eastbaydsa.org/meetings/minutes>
or Steering
Committee meetings <https://www.eastbaydsa.org/steering-committee/minutes>).

I'd filed this ticket originally to eliminate that la

[2020-01-15 20:47] maxlapides opened #241 "Improve onboarding"
The onboarding process is currently not trivial, making it difficult to onboard new team members. Let's create a simple script that stands up the project on a new computer.

[2020-01-22 06:22] hktouw commented on #241
Made a first pass at this here https://github.com/eastbaydsa/website/pull/242

I need to validate this on a machine without the app installed, so I left this as a draft PR for now. I plan on testing this on my work computer later this week.

The script only works on OSX atm. Will new team members have macs or other types of computers?

[2020-01-22 18:33] maxlapides commented on #241
Woah, looking awesome! Thanks!

I'll bet most users will have Macs, but we may have some Windows users. We could just get it working for macOS now and then come back to it if we require Windows support?

[2020-01-24 18:03] hktouw commented on #241
Sounds good to me.

Just tested this on my work computer and everything works as expected. Going to do some clean up before I open the PR for review. Not necessary but if you know of someone available to test this out, it would be nice to have them pull down that branch and run the scripts.

[2020-01-26 00:28] maxlapides commented on #241
I just tried it out on my machine and it worked flawlessly! My only question is what the easiest way is to take a Postgres dump and import that? But this is awesome :)

[2020-01-26 00:40] hktouw commented on #241
Oh that would be a great thing to add. I forgot that that was a part of the setup process, so I didn't add it. It should be pretty straightforward to modify the script to include the postgres dump file. I can modify the PR to do so.

[2020-02-02 03:26] hktouw commented on #241
@maxlapides My PR should be ready to review now. Who do I ping to get a review?

[2020-02-02 06:11] maxlapides commented on #241
Let's ask @BrainScraps and @tilgovi to review! I'll also check it out :)

[2020-02-02 06:12] BrainScraps commented on #241
Thanks, I'll take a look!

[2020-02-11 05:34] #241 closed